/*=== Sass Variables === */
$headline-font: "Arial", sans-serif;
$main-font: "Courier New", serif;
$black: #333;

/*== Base Styles ==*/ 
body {
    font-family: $main-font;
    font-size: 20px;
    color: $black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*== Grid System ==*/ 
.full-width {
    width: 100%; 
    margin: 0 auto;
}

/*== Navbar ==*/ 
#navbar {
    border: 2px solid blue; 
    padding: 40px 0;
    width: 30%;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;

    header {
        text-align: center;
        font-family: $headline-font;
        font-size: 35px;
    }

    ul li {
        list-style-type: none;
        padding: 15px;
    }

    ul li a {
        text-decoration: none;
        color: $black;
    }
}

/*== Sections == */ 
#main-doc h2 {
    font-family: $headline-font;
    font-size: 35px;
    text-align: center;
    padding-top: 40px;
}

.main-section {
    padding: 40px 0;
    width: 100%;

    header {
        font-family: $headline-font;
        font-size: 30px;
        text-align: center;
    }

    ul {
        padding: 15px 45px;

        li {
            font-size: 20px;
            line-height: 32px;
            font-family: $main-font;
        }
    }

    p {
        line-height: 32px;
        padding: 15px;
    }
}

.code {
    background-color: $black;
    color: lightgreen;
    padding: 15px;

    code {
        font-size: 20px;
        font-family: monospace;
    }
}

.sub-section {
    h4 {
        text-align: center;
        font-family: $headline-font;
        font-size: 25px;
    }
}

.warning {
    background-color: yellow;
    padding: 20px;

    h4 {
        font-size: 25px;
        font-family: $headline-font;
        text-align: center;
    }
}

/* === Footer === */
footer {
    padding: 15px 0;
    border: 2px solid blue;
    width: 100%;

    p {
        text-align: center;
        font-size: 16px;
    }
}